[env]
UV_NO_MANAGED_PYTHON = true

[tools]
pre-commit = "latest"
python = "3.13"
uv = "latest"

[tasks.server]
description = "Serve the fastapi app in dev mode"
run = "uv run fastapi dev server/src/main.py"

[tasks.post-snippet]
alias = "ps"
description = "Send one of the examples to the local endpoints (requires the fastapi server to be running)"
usage = '''
arg "<nr>" help="Number of the sample to send" default="1" {
  choices "1" "2" "3"
}
'''
run = '''
curl -X 'POST' \
  'http://127.0.0.1:8000/snippets' \
  -H 'accept: application/json' \
  -H 'Content-Type: application/json' \
  -d "@data/sample${usage_nr?}.json" | jq
'''

[tasks.list-snippets]
alias = "lsn"
description = "List all snippets in service db"
run = '''
curl -X 'GET' \
  'http://127.0.0.1:8000/snippets' \
  -H 'accept: application/json' \
  -H 'Content-Type: application/json' | jq
'''

[tasks.wipe]
description = "Wipe app data base (for dev use only)"
run = '''
curl -X 'DELETE' \
  'http://127.0.0.1:8000/snippets' \
  -H 'accept: application/json' \
  -H 'Content-Type: application/json' | jq
'''
