[env]
UV_NO_MANAGED_PYTHON = true

[tools]
pre-commit = "latest"
python = "3.13"
uv = "latest"

[tasks.server]
description = "Server the fastapi app in dev mode"
run = "uv run fastapi dev server/src/main.py"
